.container {
  height: 100vh;
  position: relative;
}

.grumpy {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
}

.underlined {
  border-bottom: 4px solid;
}

.red {
  color: red;
}

.green {
  color: green;
}
